[user]
	name = Mario
	email = tu_email@ejemplo.com
[credential "https://github.com"]
	helper = 
	helper = !/data/data/com.termux/files/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/data/data/com.termux/files/usr/bin/gh auth git-credential
[credential]
	helper = store
[safe]
	directory = /storage/emulated/0/app11
	directory = /storage/emulated/0/app11
	directory = /storage/emulated/0/app11
